html,body {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
background-color: #f7f7f7;
}

#logo {
margin-top: 8px;
margin-left: 20px;
color: #000;
font-size: 28px;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 1px;
cursor: pointer;
}

#login_table {
width: 350px;
margin: auto;
margin-top: 50px;
padding: 20px;
border-radius: 5px;
background-color: #fff;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#login_table > div {
font-size: 24px;
font-weight: bold;
text-align: center;
margin-bottom: 30px;
}

#login_form > div {
margin-bottom: 20px;
}

#login_form label {
display: inline-block;
width: 70px;
font-size: 16px;
font-weight: bold;
vertical-align: middle;
}

#login_form input[type="text"],
#login_form input[type="password"] {
display: inline-block;
width: 200px;
padding: 5px;
font-size: 16px;
border: 1px solid #ccc;
border-radius: 5px;
vertical-align: middle;
}

#login_form > div:last-of-type {
display: flex;
justify-content: space-between;
}

#verification_code_input {
width: 120px;
padding: 5px;
font-size: 16px;
border: 1px solid #ccc;
border-radius: 5px;
}

#verification_code {
width: 80px;
height: 34px;
line-height: 28px;
font-size: 14px;
color: #fff;
background-color: #007bff;
border: none;
border-radius: 5px;
cursor: pointer;
text-align: center;
}


#login_button {
display: block;
width: 100%;
margin-top: 20px;
padding: 10px;
font-size: 18px;
color: #fff;
background-color: #007bff;
border: none;
border-radius: 5px;
cursor: pointer;
}

a {
display: block;
margin-top: 20px;
text-align: center;
color: #007bff;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}
